{{!-- <nav class="navbar navbar-light bg-light">
    <p class="navbar-brand mb-0 h1 navbar-center">Eat Da Burger!</p>
</nav> --}}

{{!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand navbar-center" href="#">
        <img src="../public/assets/images/burger-loves-fries.png" alt="burger-and-fries" width="30" height="30" class="d-inline-block align-top">
        Eat Da Burger!
    </a>
</nav> --}}

<div class="container content">



    <h2>Add a burger, you silly goose, you!</h2>
    <form class="create-form">

        <div class="form-group text-main-field">
            <label for="ca">New Burger Name:</label>
            <input type="text" required placeholder="Add a burger!" id="ca" class="form-control" name="burger_name">
        </div>

        <button type="submit" class="btn btn-default">Go On, Add That Cute lil' Juicy Burger ;)</button>
    </form>

    <div class="row">

        <div class="col-md-6">

            <h2>These Here Burgers Are Ready To Be Devoured! So, Go Ahead, You Know You Want To...</h2>
            <div class="content-burger">
                {{#each burgers}}
                {{#unless devoured}}
                <div class="content-burger__list burger-name border border-dark rounded" id={{id}}>
                    <p>{{ burger_name }}</p>
                    <button class="btn btn-default favorites dev" data-id="{{id}}" data-state="{{ devoured }}">
                        {{#if devoured}} Remove Burger {{else}} Devour! {{/if}}
                    </button>
                </div>
                {{/unless}}
                {{/each}}

            </div>
        </div>

        <div class="col-md-6">

            <h2>And These Bad Boys Have Been Devoured:</h2>
            <div>
                {{#each burgers}}
                {{#if devoured}}
                <div class="content-burger__list burger-name border border-dark rounded" id={{id}}>
                    <p>{{ burger_name }}</p>
                    <button class="btn btn-default favorites del" data-id="{{id}}" data-state="{{ devoured }}">
                        {{#if devoured}} Remove Burger {{else}} Devour! {{/if}}
                    </button>
                </div>
                {{/if}}
                {{/each}}

            </div>
        </div>
    </div>

</div>